*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.prodect{
    max-width: 100%;
    
}
img{
    width: 100%;
}
.c2-img{
    width: 100%;
}
.container1 .w-33{
   background-color: rgb(248, 144, 110);
   padding: 20px;
   font-size: 40px;
  
}

header .container1{
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
}


.container3 {
    max-width: 1140px;
    display: flex;
    /* flex-wrap: wrap; */
    background-color: hotpink;
    margin: 0 auto;
}


.prodect-item {
    text-decoration: none;
    margin: 0 auto;
}

img {
    width: 100%;
}

.c3-img {
    width: 50%;
    text-decoration: none;
    margin: 0 auto;

}
h2{
    margin-bottom: 5px;
}
p{
     margin-bottom: 5px;
}
.price{
     margin-bottom: 5px;
}
.reting{
     margin-bottom: 5px;
}
a{
     margin-bottom: 5px;
}

.container2{
    width: 100%;
    margin: 0 auto
}

.container2 .img2{
    width: 100%;
}